{% include base_path %}

{% if page.author %}
{% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.author %}
{% endif %}

<div class="avatar">
    <a href="{{ base_path }}/">
        {% if author.avatar contains "http" %}
        <img class="avatar" src="{{ author.avatar }}" alt="{{ author.name }}">
        {% else %}
        <img class="avatar" src="{{ author.avatar | prepend: "/images/" | prepend: base_path }}"
        alt="{{ author.name }}">
        {% endif %}
    </a>
</div>